body{
    background-color: #222;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.header{
    width:100%;
    height:10%;
}
.header img{
    width:100%;
    height:10%;
}

.loginform{
    padding-top: 4%;
    display: flex;
    background-color:;
    flex-wrap: wrap;
    justify-content:center;
    box-shadow: 0 0 9px 0 rgb(0, 0, 0);
    width:50%;
}

.loginform label{
    display:flex;
    justify-content:center;
    align-items:center;
    width:70px;
    height:70px;
    background-color:#9e19e6;
}

.loginform input[type=password],.loginform input[type=text]{
    margin-bottom: 10%;
    width:90%;
    height:70px;
    border:1px solid #222;
}


.loginform input[type=submit]{
    background-color:#9e19e6; 
    border: 0px;
    cursor:pointer;
    color: white;
    font-size: 90%;
    width:70%;
    height:70px;
}
.loginform input[type=submit]:hover{
    box-shadow: 0 0 12px 0 #8922c0;
}
